@tailwind base;
@tailwind components;
@tailwind utilities;

.show-scrollbar {
  overflow-x: auto;
}

/* Style for the scrollbar */
.show-scrollbar::-webkit-scrollbar {
  width: 2px; /* Width of the scrollbar */
}

.show-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Background color of the scrollbar track */
}

.show-scrollbar::-webkit-scrollbar-thumb {
  background: #212529; /* Color of the scrollbar thumb */
  border-radius: 5px; /* Rounded corners for the thumb */
}

.show-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #212529; /* Color of the scrollbar thumb on hover */
}